*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
.DS_STORE
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
var
include
lib
.installed.cfg
.secret.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.pyd
*.so
*.tmp*
.Python
*.LCK
*.lck
*~
*.bak
REAME.html
.coverage
htmlcov
man
.project
.pydevproject