###### System ######
WGET_COMMAND='/opt/local/bin/wget'
# debian : WGET_COMMAND='/usr/bin/wget'

##### Timeout and status #####

# Requests timeout in second (used by wget calls)
TIMEOUT = 10

# If response time, in seconds, is greater than SLOW_THRESHOLD, then the website is considering slow
# This threshold can be overrided per host.
DEFAUL_SLOW_THRESHOLD = 5

# Accepted HTTP status codes for all hosts.
# Additionnel status exceptions can be added per host.
OK_STATUSES = ['200', '302 200']

###### List of websites to monitor #####

WEBSITE_URIS = [
	{'uri': 'http://www.yahoo.com',
	 'slow_threshold': DEFAUL_SLOW_THRESHOLD,
	 'ok_status_exceptions': []
	},
	{'uri': 'https://www.google.com',
	 'slow_threshold': DEFAUL_SLOW_THRESHOLD,
	 'ok_status_exceptions': []
	},
	{'uri': 'http://www.france.fr/nous-contacter',
	 'slow_threshold': DEFAUL_SLOW_THRESHOLD,
	 'ok_status_exceptions': []
	},
	{'uri': 'https://www.mycrm.com',
	 'slow_threshold': DEFAUL_SLOW_THRESHOLD,
	 'ok_status_exceptions': ['302 302 403']
	}
]

##### Reports #####

# Reports folder, where status files and reports will be added
REPORTS_PATH = "/Users/sbo/Documents/usine-plone/eggs/supervision.website/src/supervision/website/reports"

##### Mail configuration #####

# Do you want reports by email ?
MAIL_SEND = True

# Send an email only when something change ?
MAIL_SEND_ONLY_ON_CHANGE = True

# Mail settings
MAIL_SEND_FROM = 'supervisor@website.com'
MAIL_SEND_TO = 'supervisor@website.com'
MAIL_SUBJECT = 'Websites supervision report'

# SMTP settings
SMTP = 'localhost'
SMTP_USER = '' # used if not empty
SMTP_PASSWORD = '' # used if not empty